header{
    text-align:center
}

#calculator{
    border: 0.1em solid black;
    margin: 2.5%;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    background-color: black;
    
    caption {
        border: 0.1em solid black;
        font-weight: bold;
        background-color: black;
        padding-top: 1em;
    }
    caption input{ /* This puts the 0 on the right*/
        text-align: right;
        width: 82%;
        height: 2em;
        font-size: 1.5em;
    }
    input {
        height: 3em;
        font-size: 2em;
        width: 95%;
    }
    td, td{
        border: 0.1em solid black;
        padding: 0.5em;
    }
}
footer{
    text-align: center;
}